GOOGLE_CLOUD_PROJECT_ID=your_project_id
GOOGLE_CLOUD_CLIENT_EMAIL=your_client_email
GOOGLE_CLOUD_PRIVATE_KEY='your_private_key'
GOOGLE_CLOUD_BUCKET_NAME=yout_bucket_nam

FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=yout_client_email
FIREBASE_PRIVATE_KEY= 'your_private_key'

GOOGLE_SHEETS_CLIENT_EMAIL=yout_client_email
GOOGLE_SHEETS_PRIVATE_KEY= 'your_private_key'
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id

PDF_CO_API_KEY=your_pdf.co_api_key

CRON_SECRET_KEY=your_secret_key

RESEND_API_KEY=your_resend_api_key

